main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.columna-id-tabla-clientes{
    width: 4vw;
}

.columna-name-tabla-clientes{
    width: 19vw;
}

.columna-email-tabla-clientes{
    width: 17vw;
}

.columna-age-tabla-clientes{
    width: 5vw;
}

.columna-options-tabla-clientes{
    width: 5vw;
}

.user-data{
    background-color: white;
    font-weight:normal;
}

.label-data-cliente{
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

.container-data{
    position: relative;
}

.update-data{
    position: absolute;
    right: 3vw;
    background-color: white;
    font-size: 1.5vw;
    cursor: pointer;
}

.update-data:hover{
    transform: scale(1.2);
}