.columna-id-tabla-clientes{
    width: 4vw;
}

.columna-name-tabla-clientes{
    width: 19vw;
}

.columna-email-tabla-clientes{
    width: 17vw;
}

.columna-age-tabla-clientes{
    width: 5vw;
}

.columna-options-tabla-clientes{
    width: 5vw;
}

.columna-bookings-tabla-clientes{
    width: 5vw;
    text-align: center;
}
