.container-formulario{
    width: 30vw;
    padding: 2vw 3vw;
    background-color: white;
    border-radius: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form_title{
    text-align: center;
    font-size: 1.8vw;
    margin: 1vw 0vw 1.5vw 0vw;
    color: var(--blue-options);
    background-color: white;
}

.field_form{
    background-color: white;
    margin: 0.5vw;
    width: 100%;
}

/*label*/
.label_form{
    font-weight: bold;
    display: block;
    background-color: white;
    font-size: 1vw;
}

/*input*/
.input_form, .select_form{
    background-color: white;
    padding: 0.5vw 0vw 0.1vw 0vw;
    width: 100%;
    font-size: 1vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
}

/*text area*/
.text_area_form{
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 9vw;
    padding: 0.5vw;
    font-size: 1vw;
    resize: none;
    margin-top: 0.5vw;
}

.select_form option{
    background-color: white;
}

.text_area_form:focus{
    outline: none;
    border: 2px solid var(--blue-options);
}
.input_form:focus, .select_form:focus{
    outline: none;
    border-bottom: 2px solid var(--blue-options);
}
.field_form:focus-within .label_form{
    color: var(--blue-options);
}

.form_buttons{
    background-color: white;
}

.cancel_btn{
    display: none;
}

.submit_btn, .close_btn, .cancel_btn{
    background-color: var(--blue-options);
    border: none;
    padding: 0.5vw 2vw;
    cursor: pointer;
    border-radius: 7px;
    font-size: 1vw;
    font-weight: bold;
    margin: 1vw 0.25vw 0vw 0.25vw;
}

.submit_btn:hover{
    color: white;
    transform: scale(1.1);
}

.btn_disabled{
    background-color: var(--blue-options);
    border: none;
    padding: 0.5vw 2vw;
    cursor: pointer;
    border-radius: 7px;
    font-size: 1vw;
    font-weight: bold;
    margin: 1vw 0vw 0vw 0vw;
    filter: opacity(0.5);
}

/*Field form with input view*/
.field_form_view{
    display: flex;
    justify-content: space-between;
}
.form_data_view, .form_select_view{
    width: 50%;
    background-color: white;
    font-size: 1vw;
    padding: 0vw 0vw 0.1vw 0vw;
    border: none;
}
.form_data_view:focus{
    outline: none;
}

/*Field form with text area view*/
.field_form_view_text_area .text_area_form:focus{
    outline: none;
}
.field_form_view_text_area textarea{
    border: none;
    padding: 0vw;
    height: fit-content;
}

