textarea {
  display: block;
  resize: none;
  margin: 32px 0 8px;
  /*margin: arriba derecha abajo izquierda*/
}

td {
  padding-right: 12px;
}

p{
  display: inline-block;
}

#titulo-message--detail{
  display: inline-block;
}

#message-detail h3{
  display: inline-block;
}

#message-detail{
  position: relative;
}

.boton-cerrar{
  position: absolute;
  left: 250px;
  top: 0px;
  cursor: pointer;
}

