.columna-id-tabla-bookings{
    width: 4vw;
}
.columna-start_time-tabla-bookings{
    width: 4vw;
}
.columna-finish_time-tabla-bookings{
    width: 4vw;
}
.columna-partyroom-tabla-bookings{
    width: 5vw;
}
.columna-client-tabla-bookings{
    width: 5vw;
}
.columna-status-tabla-bookings{
    width: 4vw;
}
.columna-options-tabla-bookings{
    width: 4vw;
}
