.columna-id-tabla-reservas{
    width: 4vw;
}

.columna-name-tabla-reservas{
    width: 19vw;
}

.columna-email-tabla-reservas{
    width: 17vw;
}

.columna-age-tabla-reservas{
    width: 5vw;
}

.columna-options-tabla-reservas{
    width: 5vw;
}
