.columna-id-tabla-bookings{
    width: 1vw;
}
.columna-start_time-tabla-bookings{
    width: 7.5vw;
}
.columna-finish_time-tabla-bookings{
    width: 7.5vw;
}
.columna-status-tabla-bookings{
    width: 3vw;
}
.columna-options-tabla-bookings{
    width: 4vw;
}
