.columna-id-tabla-partyrooms{
  width: 3vw;
}

.columna-name-tabla-partyrooms{
  width: 10vw;
}

.columna-owner-tabla-partyrooms{
  width: 0vw;
}

.columna-category-tabla-partyrooms{
  width: 0vw;
}

.columna-description-tabla-partyrooms{
  width: 15vw;
}

.columna-capacity-tabla-partyrooms{
  width: 3vw;
}

.columna-options-tabla-partyrooms{
  width: 4vw;
}